{% extends "store/base.html" %}

{% block title %}<title>天天生鲜</title>{% endblock %}

{% block style %}
    <script src="/static/store/js/vue.min.js"></script>
    <script src="/static/store/js/vue-resource.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
            <!--添加商品按钮-->
          <div class="row">
                <button class="btn btn-primary col-lg-2 ml-auto" data-toggle="modal" data-target="#goods_modal">添加商品</button>
          </div>
          <h1></h1>
            <!--商品列表-->
         {% verbatim %}
        <div id="content" >
          <div class="row">
              <table class="table" >
                  <thead>
                    <tr>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品类型</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr v-for="one in goods_list">
                        <td>{{ one.g_number }}</td>
                        <td>
                            <a href="#">{{ one.g_name }}</a>
                        </td>
                        <td>{{ one.g_type | filter }}</td>
                        <td>{{ one.g_price }}</td>
                        <td>{{ one.g_num }}</td>
                    </tr>

                  </tbody>

              </table>
          </div>
        </div>
        {% endverbatim %}
          <h1></h1>
            <!--分页-->
        {% verbatim %}
          <div class="row" id="row1">
                <ul class="pagination ml-auto">

                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" v-on:click="getprev()">上一页</a>
                    </li>

                    <li class="page-item" v-on:click="getpage()">
                        <a class="page-link">1</a>
                    </li>

                    <li class="page-item" aria-label="Next" v-on:click="getnext()">
                        <a class="page-link">下一页</a>
                    </li>
                </ul>
          </div>
        </div>
        {% endverbatim %}



{% endblock %}

{% block foot %}
     <div class="modal fade" id="goods_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-label="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">添加商品</div>
              <div class="modal-body">
                  <form class="form" action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="">商品名称</label>
                        <input class="form-control" type="text" name="goods_name">
                      </div>
                      <div class="form-group">
                        <label class="">商品类型</label>

                        <select class="form-control" name="goods_type">
                            <option>--商品类型--</option>
                            {% for one in goodstype_list %}
                            <option>{{one.t_name}}</option>
                            {% endfor %}

                        </select>

                      </div>

                      <div class="form-group">
                        <label class="">商品价格</label>
                        <input class="form-control" type="text" name="g_price">
                      </div>
                      <div class="form-group">
                        <label class="">商品保质期</label>
                        <input class="form-control" type="text" name="g_safe_date">
                      </div>
                      <div class="form-group">
                        <label class="">商品出场日期</label>
                        <input class="form-control" type="text" name="g_public_date">
                      </div>
                      <div class="form-group">
                        <label class="">商品数量</label>
                        <input class="form-control" type="text" name="goods_num">
                      </div>
                      <div class="form-group">
                        <label class="">商品描述</label>
                        <textarea class="form-control" name="g_description"></textarea>
                      </div>
                      <div class="form-group">
                        <label class="">商品图片</label>
                        <input class="form-control" type="file" name="g_picture">
                      </div>
                      <button class="btn btn-primary fa-pull-right" type="submit">提交商品</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block js %}
    <script>
    new Vue(     //3.创建vue对象
        {
            el:"#content", //绑定元素对象
            data:{
                goods_list:[

                ],
                next_url:"",      //下一页url
                prev_url:"",      //上一页url
                page_url_list:[   //页码列表

                ]
            },

            created:function () {
                //初始化执行，请求数据
                var url = "http://127.0.0.1:8000/store/api/morelist/?quser_id={{request.COOKIES.user_id}}";
                //调用getdata方法
                this.getdata(url)

            },
            methods:{
                getdata:function(url){
                    this.$http.get(url).then( // 请求之后执行then
                    function(data) {
                        console.log(data.data.results);
                        console.log(data.data.next);
                        console.log(data.data.previous);
                        // 赋值，绑定动态数据
                        this.goods_list = data.data.results;
                        //绑定上一页与下一页的数据
                        this.next_url=data.data.next;    //下一页
                        this.prev_url=data.data.previous;  //上一页

                    },
                    function(error){
                        console.log(error)
                    }
                )

                },
                //获取上一页
                getprev:function () {
                    //console.log("prev");
                    // 发送上一页请求，获取到上一页的url
                    //调用getdata方法，传入上一页的url，实现页面跳转
                    if(this.prev_url){
                        this.getdata(this.prev_url)
                    }

                },
                //获取下一页
                getnext:function () {
                    //console.log("next");
                    //发送下一页请求
                    //console.log(this.next_url);
                    //调用getdata方法，传入下一页的url，实现页面跳转
                     if(this.next_url) {
                         this.getdata(this.next_url)
                     }
                },
                //获取页码页面
                getpage:function () {

                    this.getdata(this.next_url)

                }
            }
        }
    );
    //vue自定义过滤器，对goods_type进行过滤
    Vue.filter('filter', function (value) {
        if(value==1){
            return "Arknights"
        }else if(value==2){
            return "Genshin Impact"
        }else if(value==3){
            return "Azur Lane"
        }else if(value==4){
            return "Girls Frontline"
        }else if(value==5){
            return "Honkai Impact 3"
        }

    })

</script>
{% endblock %}
