{% extends "store/base.html" %}

{% load filters %}

{% block title %}<title>天天生鲜</title>{% endblock %}

{% block style %}
     <style>
      .goods_number,.line_panel{
          width: 600px;
          height: 600px;
      }
      .panel_card{
          height: 600px;
      }
  </style>
{% endblock %}

{% block content %}
     <div class="container-fluid">

            <!--交易额面板部分-->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">商品库存量</h4>
              </div>
              <div class="card-body">
                <div class="chart-bar">
                      <canvas  width="1250px" height="350px" id="myBarChart"></canvas>
                </div>
              </div>
          </div>

        </div>
        <!-- /.container-fluid -->
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 md-6">
                    <div class="card shadow">
                        <div class="card-header py-3">
                          <h4 class="m-0 font-weight-bold text-primary">7月收益趋势</h4>
                        </div>
                        <div class="card-body">
                          <div class="chart-bar panel_card">
                            <div id="line_panel" class="line_panel" style="width: 800px"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 md-6">
                    <div class="card">
                        <div class="card-header py-3">
                          <h4 class="m-0 font-weight-bold text-primary">周商品销售占比</h4>
                        </div>
                        <div class="card-body">
                          <div class="chart-bar panel_card">
                            <div id="goods_number" class="goods_number"></div>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>

{% endblock %}

{% block js %}

    <script src="/static/store/js/echarts.min.js"></script>

  <script>
      var myChart = echarts.init(document.getElementById('myBarChart'));
      var option = {
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }

            },
            legend: {
                data:['库存量']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisTick: {
                        alignWithLabel: true
                    },

                    axisLabel: {
                        formatter: function (val) {
                            var strs = val.split('');  //转化为字符串数组
                            var str = '';
                                for (var i = 0, s;s = strs[i++]; ) {
                                    str += s;
                                    if (!(i % 14))     //14个字符换行
                                        str += '\n';
                                }
                            return str

                        }
                    }
                }
            ],

            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '库存量',
                    type: 'bar',
                    barWidth: '60%',
                    data: [],
                    itemStyle: {
                        normal: {
                           label: {
                               show: true,		//开启显示
                               position: 'top',	//在上方显示
                               textStyle: {	    //数值样式
                                   color: 'black',
                                   fontSize: 12
                               }
                           }
                        }
                    }

                }
            ]
        };

         // myChart.setOption(option);
         //ajax绑定数据
         $.ajax({
             url: "http://127.0.0.1:8000/store/goodsview",
             data: "",
             type: "get",
             success: function (data) { //请求成功
                 console.log(data.data);  //打印返回值
                 // 获取数据  绑定数据
                 var x = option.xAxis[0].data = [];
                 var y = option.series[0].data = [];
                 for (var one in data.data) {
                     console.log(one);
                     x.push(data.data[one].type);
                     y.push(data.data[one].num);
                 }


                 //option.series[0].data = data.data; // 数组
                 myChart.setOption(option); //重新加载

             },
             error: function (error) { //请求失败
                 //失败的信息
                 console.log(error)

             }
         });

        // 周销售占比
        var numberChart = echarts.init(document.getElementById('goods_number'));

        numberoption = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['土豆', '西红柿', '黄瓜', '茄子', '卷心菜',"大白菜","辣椒"]
            },
            series: [
                {
                    name: '价格',
                    type: 'pie',
                    radius: ['20%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {value: 335, name: '土豆'},
                        {value: 310, name: '西红柿'},
                        {value: 234, name: '黄瓜'},
                        {value: 135, name: '茄子'},
                        {value: 1548, name: '卷心菜'},
                        {value: 335, name: '大白菜'},
                        {value: 310, name: '辣椒'}

                    ]
                }
            ]
        };

        // 当月收益趋势
        numberChart.setOption(numberoption);


        var lineChart = echarts.init(document.getElementById('line_panel'));
        var line_option = {
            title: {
                text: "7月收益趋势"
            },
            tooltip: {},
            legend: {
                data:['收益趋势']
            },
            xAxis: {
                data: ["第一周","第二周","第三周","第四周","第五周"]
            },
            yAxis: {},
            series: [{
                name: '收益趋势',
                type: 'line',
                data: [5, 20, 36, 10, 10]
            }]
        };
        lineChart.setOption(line_option);
  </script>



{% endblock %}