{% extends "buyer/base.html" %}

{% block script %}
    <link rel="stylesheet" href="/static/buyer/css/search.css">
{% endblock %}

{% block content %}
    <div class="container">
    <!--2.搜索框开始-->
    <div class="search">
        <div class="row ">
            <div class="col-lg-5">
                <img src="/static/buyer/images/logo.png" alt="..." class="img-rounded">
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;我的订单</span>
            </div>
            <div class="col-lg-6 col-lg-offset-1 search_bar">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索商品">
                        <span class="input-group-btn">
                    <button class="btn btn-success" style="padding: 6px 50px" type="submit">搜索</button>
                </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--搜索框结束-->
    <!--3.主体-->
    <div class="main">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">全部订单</a></li>
        </ul>
        <br/>
        <div class="info">
            <!--所有订单-->
            <div id="allorders">
                <div class="panel panel-default ">
                    <div class="panel-heading col-lg-12">未支付</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <tr align="center" valign="middle">
                                <td>
                                    <img class="img-thumbnail" src="/static/buyer/images/goods02.jpg" width="60px" alt="">
                                </td>
                                <td>嘎啦苹果嘎啦苹果</td>
                                <td>11.80元/500g</td>
                                <td>1</td>
                                <td>11.80元</td>
                                <td>待付款</td>
                                <td><a href="/buyer/place_order">去付款</a></td>
                            </tr>
                            <tr align="center" valign="center">
                                <td>
                                    <img class="img-thumbnail" src="/static/buyer/images/goods02.jpg" width="60px" alt="">
                                </td>
                                <td>嘎啦苹果嘎啦苹果</td>
                                <td>11.80元/500g</td>
                                <td>1</td>
                                <td>11.80元</td>
                                <td>待付款</td>
                                <td><a href="">去付款</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">已支付</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <tr align="center" valign="middle">
                                <td>
                                    <img class="img-thumbnail" src="/static/buyer/images/goods02.jpg" width="60px" alt="">
                                </td>
                                <td>嘎啦苹果嘎啦苹果</td>
                                <td>11.80元/500g</td>
                                <td>1</td>
                                <td>11.80元</td>
                                <td>已付款</td>
                                <td><a href="">查看物流</a></td>
                            </tr>
                            <tr align="center" valign="middle">
                                <td>
                                    <img class="img-thumbnail" src="/static/buyer/images/goods02.jpg" width="60px" alt="">
                                </td>
                                <td>嘎啦苹果嘎啦苹果</td>
                                <td>11.80元/500g</td>
                                <td>1</td>
                                <td>11.80元</td>
                                <td>已付款</td>
                                <td><a href="">查看物流</a></td>
                            </tr>

                        </table>
                    </div>
                    <div align="center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}