{% extends "base.html" %}

{% block title %}<title>天天生鲜</title>{% endblock %}

{% block style %}
      <style>
      .order_table{
          text-align: center;
      }
  </style>
{% endblock %}

{% block content %}
     <div class="container-fluid">
          <h1></h1>
            <!--商品列表-->
          <div class="row">
              <table class="table order_table">
                  <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>订单商品</th>
                        <th>发布时间</th>
                        <th>订单价格</th>
                        <th>商品数量</th>
                        <th>订单价格</th>
                        <th>订单操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>
                            <a href="#">西红柿</a>
                        </td>
                        <td>2020-12-12</td>
                        <td>8.5</td>
                        <td>10</td>
                        <td>85</td>
                        <td>
                            <button class="btn btn-primary">确认发货</button>
                            <button class="btn btn-danger">拒绝订单</button>
                        </td>
                    </tr>

                  </tbody>
              </table>
          </div>
          <h1></h1>
            <!--分页-->
          <div class="row">
                <ul class="pagination ml-auto">
                    <li class="page-item">
                        <a class="page-link">上一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">2</a>
                    </li>
                                        <li class="page-item">
                        <a class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">下一页</a>
                    </li>
                </ul>
          </div>
        </div>
{% endblock %}

