.makepos {
    padding-top: 20px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.myps span {
    margin-left: 3px;
}

.newheight {
    height: 40px;
    line-height: 40px;
}

.breadcrumb {
    background-color: white;
}

hr {
    border-width: 2px;
    border-color: green;
}